* text=auto

# Auto detect text files and normalize line endings to LF
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files
*.svg binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.mp4 binary
*.webm binary
